.App {
  text-align: center;
}

.TemperatureControl {
  font-size: 80px;
}

.TemperatureControl span {
  margin: 0px 25px;
}

.TemperatureControl button {
  font-size: 80px;
  line-height: 10px;
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}
